.imgCtn{
    width: 30.7rem;
    height: 11.7rem;
    background-color: #F9F9F9;
    padding: 0 4.8rem;
}
@media screen and (max-width:850px) {
    .imgCtn{
        width: 216px;
        height: 80px;
        padding: 0.7 4.9rem;
    }
}